<% provide(:h1, "About Us") %>
<div class="pageformat">
   <p><%= image_tag(@artpage.art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", @artpage.message, "All").html_safe %></p>
</div>
